# --- 全局忽略 ---

# IDE 配置文件 (VSCode, IntelliJ, Android Studio)
.idea/
.vscode/
*.iml
*.ipr
*.iws

# 操作系统生成的文件 (macOS, Windows)
.DS_Store
Thumbs.db

# 通用日志文件
*.log

# 敏感配置文件
.env
android/key.properties
key.properties
ios/ExportOptions.plist
application-dev.yml
application.yml

# 密钥库文件
*.jks
*.keystore
*.p12
*.mobileprovision

# 混淆符号文件
/debug-info/