version: "3.8"

services:
  redis:
    image: redis:7.0-alpine
    container_name: simple-deepresearch-redis
    restart: always

    ports:
      - "6379:6379"

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 1s
      retries: 3